@import 'simpledotcss/simple.css';

:root {
    --accent-bg: #f5fff7;
    --accent: #00971e;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-bg: #2b2b2b;
        --accent: #2ecc32;
    }
}

nav a.current {
    color: var(--accent) !important;
    border-color: var(--accent) !important;
}

.notice {
    background: var(--accent-bg);
    border: 2px solid var(--border);
    border-radius: 5px;
    padding: 1.5rem;
    margin: 2rem 0;
}
