<!--
@component
A component to display some information about the project this page is about.
-->
<script>
    import project from '../config/project.json';
</script>

<article>
    <h2>What's this about?</h2>
    <p>
        Firewalls exist for a reason: <u>security</u>. However, in some structures, their
        configuration don't take into account the developers specific awareness and needs.
    </p>
    <p>
        Most of the time, a workaround has been implemented (e.g. a Nexus or Artifactory for Maven
        dependencies), but when nothing's been done and the development teams urgently need a
        specific resource, the firewall becomes a hindrance rather than a help.
    </p>
    <p>
        The first version of this tool was developed in such a context, and it has evolved since
        then. You can learn more on <a href={project.links.about}>the project's information page</a
        >.
    </p>
</article>
