<!--
@component
This form allows a user to select a URL and a transformation, and download the
corresponding file.

This UI also presents with some assistive elements to help the user determine
which transformation is best suited for their case, and how to revert the
transformation once the download is done.
-->
<script lang="ts">
    import type Transformation from '../type/Transformation';

    import project from '../config/project.json';

    import TransformationSelector from './TransformationSelector.svelte';
    import TransformationDescription from './TransformationDescription.svelte';
    import TransformationReversalProcedure from './TransformationReversalProcedure.svelte';

    let selectedTransformation: Transformation;
</script>

<form action={project.api.download} method="GET">
    <h2>Download a file</h2>

    <!-- Field 1: URL -->
    <p>
        <label for="dlproxy-url">URL of the file to download</label>
        <input id="dlproxy-url" type="url" name="url" />
    </p>

    <!-- Tip: look below for more information -->
    <aside>
        <p><strong>💡 Not sure what a transformation does?</strong></p>
        <p>Look at the details below to know more.</p>
    </aside>

    <!-- Field 2: transformation -->
    <p>
        Transformation to apply to the downloaded file
        <TransformationSelector bind:selected={selectedTransformation} />
    </p>

    <!-- Accordions: details about the transformation -->
    <TransformationDescription bind:transformation={selectedTransformation} />
    <TransformationReversalProcedure bind:transformation={selectedTransformation} />

    <!-- Submit or reset form -->
    <input type="submit" value="Download" />
    <button type="reset">Reset</button>
</form>
