<!--
@component
This component displays information about the bound transformation, in a collapsible `<details>`
block. It also displays the key for API use.
-->
<script lang="ts">
    import type Transformation from '../type/Transformation';

    export let transformation: Transformation;
</script>

<details>
    <summary>What does
        {transformation ? `"${transformation.displayText}"` : 'this transformation'}
        do?
    </summary>
    {#if transformation}
        {@html transformation.descriptionHtml}
        <p>
            In the API, this transformation corresponds to the following key:
            <code>{transformation.key}</code>.
        </p>
    {:else}
        <p>Select a transformation to know how the proxy will process your download.</p>
    {/if}
</details>
