<!--
@component
This component generates a list of choices from the list of available transformations. The selected
transformation can be available as a binding to the `selected` attribute.

The first transformation is selected by default.
-->
<script lang="ts">
    import type Transformation from '../type/Transformation';

    import transformations from '../config/transformations';

    export let selected: Transformation;
    let selectedKey: string = transformations[0].key;

    $: selected = transformations.find((t) => t.key === selectedKey)!;
</script>

<!-- Propose a selection of all available transformations -->
{#each transformations as transformation}
    <label for="dlproxy-transform-{transformation.key}">
        <input
            type="radio"
            id="dlproxy-transform-{transformation.key}"
            name="transformation"
            bind:group={selectedKey}
            value={transformation.key}
        />
        {transformation.displayText}
    </label>
{/each}
