<!--
@component
This component displays information about how to revert the bound transformation, in a collapsible
`<details>` block.
-->
<script lang="ts">
    import type Transformation from '../type/Transformation';

    export let transformation: Transformation;
</script>

<details>
    <summary>How to revert the transformation?</summary>
    {#if transformation}
        {@html transformation.revertProcedureHtml}
    {:else}
        <p>Select a transformation to know how to retrieve the original file after download.</p>
    {/if}
</details>
