<script>
    import '../app.postcss';
    import { page } from '$app/state';
    import project from '../dl-proxy/config/project.json';
</script>

<header>
    <nav>
        <a class:current={page.url.pathname === '/'} href="/">{project.name}</a>
        <a href={project.links.about}>About</a>
        <a href="{project.baseUrl}/q/swagger-ui/">Swagger UI</a>
        <a href="{project.baseUrl}/q/openapi">OpenAPI (YAML)</a>
        <a href="{project.baseUrl}/q/health">App status</a>
    </nav>
    <h1>{project.name}</h1>
    <p>{project.description}</p>
</header>

<main>
    <slot />
</main>

<footer>
    <p>Made with ❤ by <a href="https://keyboardplaying.org/">Keyboard Playing</a>.</p>
    <p>
        Interface built with <a href="https://svelte.dev/">Svelte</a> and
        <a href="https://simplecss.org/">Simple.css</a>, engine built with
        <a href="https://quarkus.io/">Quarkus</a>.
    </p>
</footer>
