<script>
    import project from '../dl-proxy/config/project.json';
    import DownloadProxyForm from '../dl-proxy/component/DownloadProxyForm.svelte';
    import AboutDownloadProxy from '../dl-proxy/component/AboutDownloadProxy.svelte';
</script>

<svelte:head>
    <title>{project.name}</title>
    <meta name="description" content={project.description} />
</svelte:head>

<main>
    <!-- Form to download through the proxy -->
    <DownloadProxyForm />

    <!-- Warning note -->
    <p class="notice">
        <strong>This tool was designed in the sole purpose to help developers work</strong>
        in environment where security rules might hinder them. It should be considered a
        <strong>last resort solution</strong> when no other could be found in accordance with the local
        rules, and should be reserved to trustworthy files. Users bear sole responsibility for their
        usage.
    </p>

    <!-- About the Download Proxy -->
    <AboutDownloadProxy />
</main>
